@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import "../sass/utils/variables";
@import "../sass/utils/buttons";
@import "../sass/components/header-page";
@import "../sass/components/footer-page";
@import "../sass/components/title";
@import "../sass/components/advantages";
@import "../sass/components/what-we-do";
@import "../sass/components/team";
@import "../sass/components/customers";

h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  transition: var(--transition--);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.section {
  margin: auto;
  width: 1600px;
  padding: 28px 0;
}

.section .category-flex {
  padding-top: 0;
}

.filter-section-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.last {
  margin-right: 0;
}

.filter-section-button button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-section-button button:hover,
.filter-section-button button:focus {
  background: var(--third-clr);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primary-clr);
}

.category-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  gap: 27px;
}
.category-section li {
  background: var(--primary-clr);
}
.category-section li p {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-clr);
  margin-left: 24px;
}
.category-section li em {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-left: 24px;
}

.category-flex li {
  border: 1px solid #eeeeee;
}
.category-flex li:hover,
.category-flex li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

form {
  display: flex;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-clr);
  margin-bottom: 20px;
}

.subscribe input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* Portofolio */

.filter-buttons {
  margin-bottom: 50px;
}

.main-navigation .active-portofolio {
  color: var(--third-clr);
  position: relative;
}

.main-navigation .active-portofolio:hover::after,
.main-navigation .active-portofolio:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.section .category-flex {
  padding-top: 0;
}

.filter-section-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.last {
  margin-right: 0;
}

ul.category-flex {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
}

.category-section li {
  background: var(--primary-clr);
}
.category-section li p {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-clr);
  margin-left: 24px;
}
.category-section li em {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-left: 24px;
}

.category-flex li {
  border: 1px solid #eeeeee;
}
.category-flex li:hover,
.category-flex li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.footer-flex {
  display: flex;
  align-items: center;
  height: 251px;
  gap: 107px;
}

address a:hover,
address a:focus {
  color: var(--primary-clr);
}

.global-footer .address {
  color: var(--primary-clr);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 28px;
}
.corection-link {
  margin-top: 12px;
}
.corection {
  margin: 0;
}

.global-footer .footer-flex .last-class {
  color: var(--primary-clr);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.global-footer .footer-icons-list .footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
}

.footer-icons-list .footer-icons svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-clr);
}
.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.global-footer .footer-icons-list .footer-icons:hover,
.global-footer .footer-icons-list .footer-icons:focus {
  color: var(--primary-clr);
  background-color: var(--third-clr);
  border-radius: 50%;
  outline: 0;
}

.category-flex li:hover .portfolio-overlay {
  top: 0;
}

.item:hover .overlay {
  top: 0;
}

.item {
  position: relative;
  overflow: hidden;
}

.item .overlay {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition-property: top, right, bottom, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--third-clr);
  top: 100%;
}

.item .text {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-clr);
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
