@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --text-font-family: Roboto, sans-serif;
  --secondary-clr: #212121;
  --third-clr: #2196f3;
  --link-text-clr: #757575;
  --dark-gray-section-clr: #2f303a;
  --main-second-backround-clr: #f5f4fa;
  --social-icons-clr: #afb1b8;
  --primary-clr: #fff;
}

body {
  font-family: var(--text-font-family);
}

h1 {
  color: var(--primary-clr);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
h2 {
  color: var(--secondary-clr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  margin: auto;
  width: 1600px;
  padding: 94px 0;
}

.filter-buttons {
  margin-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.global-container {
  display: flex;
  align-items: center;
}

.global-header {
  padding: 24px 0;
  background: var(--primary-clr);
  border-bottom: 1px solid #e5e5e5;
}

.global-header a {
  color: var(--secondary-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.main-navigation .active-portofolio {
  color: var(--third-clr);
  position: relative;
}

.main-navigation .active-portofolio:hover::after,
.main-navigation .active-portofolio:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.active:hover::after,
.active:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

.logo-container {
  flex-basis: 238px;
}
.contact {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--third-clr);
  outline: 0;
}

.logo-container .home-button:hover,
.logo-container .home-button:focus {
  color: var(--third-clr);
}

.active {
  position: relative;
}

.super-nav-class {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.global-header .home-button {
  font-family: Raleway, sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #000000;
}
.global-header .button {
  color: var(--third-clr);
}
.global-header a.mail {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--link-text-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.global-header a.mail:hover,
.global-header a.mail:focus {
  color: var(--third-clr);
  outline: 0;
}

.global-header a.mail:hover::after,
.global-header a.mail:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.global-header a.phone-number {
  position: relative;
  display: flex;
  color: var(--link-text-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  white-space: nowrap;
  outline: 0;
}

.global-header a.phone-number:hover,
.global-header a.phone-number:focus {
  color: var(--third-clr);
}

.global-header a.phone-number:hover::after,
.global-header a.phone-number:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.contact .mail svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact .phone-number svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.section .category-flex {
  padding-top: 0;
}

.filter-section-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.last {
  margin-right: 0;
}

.filter-section-button button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-section-button button:hover,
.filter-section-button button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primary-clr);
}

.active-item-filter {
  background-color: var(--third-clr);
}

ul.category-flex {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
}

.category-section li {
  background: var(--primary-clr);
}
.category-section li p {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-clr);
  margin-left: 24px;
}
.category-section li em {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-left: 24px;
}

.category-flex li {
  border: 1px solid #eeeeee;
}
.category-flex li:hover,
.category-flex li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.footer-flex {
  display: flex;
  align-items: center;
  height: 251px;
  gap: 107px;
}

.global-footer {
  background: var(--dark-gray-section-clr);
  padding: 0;
}

.global-footer a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  text-decoration: none;
}

address a:hover,
address a:focus {
  color: var(--primary-clr);
}

.global-footer .home-button {
  color: var(--third-clr);
  font-family: Raleway, sans-serif;
  font-size: 27px;
  font-weight: 700;
}
.global-footer .home-button .button {
  color: #000000;
}
.global-footer .home-button .button:focus,
.global-footer .home-button .button:hover {
  color: var(--third-clr);
}

.global-footer .address {
  color: var(--primary-clr);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 28px;
}
.corection-link {
  margin-top: 12px;
}
.corection {
  margin: 0;
}

.global-footer .footer-flex .last-class {
  color: var(--primary-clr);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.global-footer .footer-icons-list .footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
}

.footer-icons-list .footer-icons svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-clr);
}
.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.global-footer .footer-icons-list .footer-icons:hover,
.global-footer .footer-icons-list .footer-icons:focus {
  color: var(--primary-clr);
  background-color: var(--third-clr);
  border-radius: 50%;
  outline: 0;
}

.category-flex li:hover .portfolio-overlay {
  top: 0;
}

.item:hover .overlay {
  top: 0;
}

.item {
  position: relative;
  overflow: hidden;
}

.item .overlay {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition-property: top, right, bottom, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  top: 100%;
}

.item .text {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-clr);
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: var(--transition);
}

.modal-content {
  display: flex;
  position: relative;
  background: #fff;
  height: 581px;
  width: 528px;
  margin: 0 auto;
}
.inside-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.close-btn {
  font-size: 20px;
  outline: none;
  cursor: pointer;
  color: #000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-btn:hover,
.close-btn:focus {
  background: #000;
  color: #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}
