.global-footer .home-button {
  color: var(--third-clr);
  font-family: Raleway, sans-serif;
  font-size: 27px;
  font-weight: 700;
}

.global-footer .home-button .button {
  color: var(--primary-clr);
}

.global-footer .footer-flex .button:hover,
.global-footer .footer-flex .button:focus {
  color: var(--third-clr);
  transition: var(--transition--);
}

.footer-flex {
  display: flex;
  align-items: center;
  height: 251px;
  gap: 107px;
}

.global-footer {
  background: var(--dark-gray-section-clr);
  padding: 0;

  & a {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  & p {
    display: flex;
    font-style: normal;
    color: var(--primary-clr);
    font-weight: 400;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 28px;
  }
}

address a:hover,
address a:focus {
  color: var(--primary-clr);
}

.global-footer .main-address {
  color: var(--primary-clr);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.main-address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.address-link {
  margin-top: 12px;
}
.address {
  margin: 0;
}

.global-footer .footer-flex .last-class {
  color: var(--primary-clr);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.global-footer .footer-icons-list .footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  fill: var(--primary-clr);
}

.footer-icons-list .footer-icons svg {
  width: 20px;
  height: 20px;
}
.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.global-footer .footer-icons-list .footer-icons:hover,
.global-footer .footer-icons-list .footer-icons:focus {
  color: var(--primary-clr);
  background-color: var(--third-clr);
  border-radius: 50%;
  outline: 0;
}

form {
  display: flex;
}

.subscribe {
  display: flex;
  flex-direction: column;

  &_label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-clr);
    margin-bottom: 20px;
  }

  &_input {
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2787px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
