h3,
body {
  font-family: var(--text-font-family);
}

h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  transition: var(--transition--);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.section {
  margin: auto;
  width: 1600px;
  padding: 28px 0;
}
