.logo-container {
  flex-basis: 238px;
}

.logo-container .home-button:hover,
.logo-container .home-button:focus {
  color: var(--third-clr);
}

.global-header .home-button {
  font-family: Raleway, sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: var(--text-clr--);
}
.global-header .button {
  color: var(--third-clr);
}
