/* Index */

.global-container {
  display: flex;
  align-items: center;
}

.global-header {
  padding: 24px 0;
  background: var(--primary-clr);
  border-bottom: 1px solid #e5e5e5;
}

.global-header a {
  color: var(--secondary-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.main-navigation .active-studio {
  color: var(--third-clr);
  position: relative;
}

.main-navigation .active-studio:hover::after,
.main-navigation .active-studio:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

.logo-container {
  flex-basis: 238px;
}
.contact {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--third-clr);
  outline: 0;
}

.active {
  position: relative;
}

.logo-container .home-button:hover,
.logo-container .home-button:focus {
  color: var(--third-clr);
}

.active:hover::after,
.active:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.super-nav-class {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.global-header .home-button {
  font-family: Raleway, sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #000000;
}
.global-header .button {
  color: var(--third-clr);
}
.global-header a.mail {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--link-text-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.global-header a.mail:hover,
.global-header a.mail:focus {
  color: var(--third-clr);
  outline: 0;
}

.global-header a.mail:hover::after,
.global-header a.mail:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.global-header a.phone-number {
  position: relative;
  display: flex;
  color: var(--link-text-clr);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  white-space: nowrap;
  outline: 0;
}

.global-header a.phone-number:hover,
.global-header a.phone-number:focus {
  color: var(--third-clr);
}

.global-header a.phone-number:hover::after,
.global-header a.phone-number:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}

.contact .mail svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact .phone-number svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* Portofolio */

.main-navigation .active-portofolio {
  color: var(--third-clr);
  position: relative;
}

.main-navigation .active-portofolio:hover::after,
.main-navigation .active-portofolio:focus::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--third-clr);
  top: 46px;
  left: 0;
  border-radius: 2px;
}
