.category-flex li:hover .portfolio-overlay {
  top: 0;
}

.item:hover .overlay {
  top: 0;
}

.item {
  position: relative;
  overflow: hidden;
}

.item .overlay {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition-property: top, right, bottom, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--third-clr);
  top: 100%;

  & .text {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-clr);
    letter-spacing: 0.03em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
