.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: var(--transition);
}

.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
}

.modal-content {
  padding: 40px;
  display: flex;
  position: relative;
  background: var(--primary-clr);
  height: 581px;
  width: 528px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* formular */

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 448px;
  height: 40px;
  margin-top: 28px;
}

.inside-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-clr);
    margin: 0;
  }
}

/* label text */
.form-group > *:nth-child(1) {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--link-text-clr);
}

/* Input */
.form-group > *:nth-child(2) {
  padding: 12px 16px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
}

.form-group-active > *:nth-child(1) {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--link-text-clr);
}

.textarea {
  width: 448px;
  height: 120px;
  resize: none;
}

.form-group .textarea {
  padding: 0;
}

.form-check {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & .terms {
    padding: 0;

    & .term-and-conditions {
      color: var(--third-clr);
    }
  }
}

.form-check > *:nth-child(1) {
  height: 15px;
  width: 16px;
  padding-top: 25px;
}

.form-check > *:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: none;
  color: var(--link-text-clr);
}

.form-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input-icon {
  position: absolute;
  top: 70%;
  left: 12px;
}

.form-group .input-icon:hover,
.form-group .input-icon:focus {
  color: var(--third-clr);
  transition: var(--transition);
}

.input {
  padding-left: 40px;
}
