h1 {
  color: var(--primary-clr);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.main-title-backround .first-section {
  background: var(--dark-gray-section-clr);
  text-align: center;
  min-height: 100%;
  background: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/title-background.jpg");
  background-repeat: no-repeat;
}
