h2 {
  color: var(--secondary-clr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.third-section-flex {
  display: flex;
  justify-content: space-between;
}
.third-section {
  padding-top: 0;
}
